@font-face {
  font-family: 'Noto Sans SC';
  src: url('./noto-sans-sc-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif SC';
  src: url('./noto-serif-sc-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
